.base-button {
  cursor: pointer;
  font-size: 13px;
  letter-spacing: 1.42px;
  padding-bottom: 4px;
  color: white;

  &__flat {
    border: none;
    background: transparent;
    text-decoration: none;
    background-image: linear-gradient(white, white);
    background-size: 0 2px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all 0.2s ease 0s;
  }

  &:hover {
    background-size: 100% 2px, auto;
  }
}
